



<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewBag.Title - My ASP.NET Application</title>
    @*<title>@ViewData["Title"] - ProyectoFFHD</title>*@

    <link href="~/Scripts/jquery-3.5.1.min.js" rel="stylesheet" type="text/javascript" />

    <link href="~/Scripts/popper.js" rel="stylesheet" type="text/javascript" />
    <link href="~/Scripts/popper.min.js" rel="stylesheet" type="text/javascript" />
    <link href="~/Scripts/bootstrap.min.js" rel="stylesheet" type="text/javascript" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>



    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>



<body>



    <nav class="navbar navbar-expand-lg navbar-light" style="background: #ffffff;">
        <a class="navbar-brand  font-weight-bold" href="/Usuario/Logueo">
            <img src="~/img/logo/logo.JPEG" width="40" height="40" class="d-inline-block" alt="">
            FAR FROM HOME
        </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">

            </li>*@
            </ul>
            @*<span class="navbar-nav col-xl-4 mr-auto">

            <a class="nav-link float-lg-right btn btn-sm btn-primary" style="font-size: 16px; background: #21C87A; border-color:#21C87A;" href="~/Publicacion/Create">Agregar Mascota</a>


        </span>*@
            <span class="navbar-nav align-content-center mr-auto">

                @using (Html.BeginForm("Index", "Publicacion", FormMethod.Get))
                {
                    @Html.TextBox("searching")<input class="nav-link float-lg-right btn btn-sm align-content-center" style="font-size: 16px; background: #21C87A; border-color:#21C87A;" id="myInput" type="submit" placeholder="Buscá tu mascota..." value="Buscar">
                }

                @*@using (Html.BeginForm("Index", "Publicacion", FormMethod.Get))
            {
                @Html.TextBox("searching")<input type="submit" value="Search" />}*@
            </span>
 
            <div class="container">
                <!-- REGISTRAR MASCOTA PERDIDA START -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

                <!-- Trigger the modal with a button -->

                <button type="button" class="btn btn-sm" style="font-size: 16px; background: #21C87A; border-color:#21C87A;" data-toggle="modal" data-target="#exampleModal">            
                    @Html.ActionLink("Agregar Mascota", "Create", "Publicacion")<br>
                </button>
                <!-- Modal -->
                <!-- REGISTRAR MASCOTA PERDIDA END -->
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="~/Usuario/Logout">Cerrar Sesión</a>
                            <a class="dropdown-item" href="~/Usuario/Logueo">Inicio</a>
                        </div>
                    </li>
                </ul>
                @*@User.Identity.Name*@
            }
            else
            {
                <span class="navbar-text">
                    <button type="button" class="btn btn-sm" style="font-size: 16px; background: #21C87A; border-color:#21C87A;" data-toggle="modal" data-target="#exampleModal">
                        Iniciar Sesión
                    </button>
                    <button type="button" class="btn btn-sm" style="font-size: 16px; background: #21C87A; border-color:#21C87A;" data-toggle="modal" data-target="#exampleModal">
                        Registrarse
                    </button>
                </span>
            }
        </div>
    </nav>











    <div class="container">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                //mensaje con valor , entonces muestro el error en el caso de q lo haya
                <div class="alert alert-danger">@ViewBag.Message</div>
            }
        }
        <form action="/Usuario/Login" method="post">

            <div class="container">
                <script>
                    $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').trigger('focus')
                    })
                </script>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="">
                            <div class="">

                                @*<h5 class="modal-title texto-claro" id="exampleModalLabel">Iniciar Sesión</h5>*@
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="modal-dialog text-center modal-content">



                                    <div class="col-12 user-img">
                                        <img src="~/img/unnamed.png" />
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group" id="user-group">
                                            <input type="text" class="form-control" name="email" placeholder="Nombre de usuario" />

                                        </div>
                                        <div class="form-group" id="contraseña-group">
                                            <input type="password" class="form-control" name="password" placeholder="Contraseña" />
                                        </div>
                                        <div class="form-group col-12">
                                            <button type="submit" class="btn button-grande btn-primary" style=background: #21C87A;"> <i class="fas fa-sign-in-alt"></i> Ingresar</button>
                                        </div>
                                    </div>
                                    <div class="col-12 forgot">
                                        @Html.ActionLink("Registrarme", "Create", "Usuario") <br>
                                        @Html.ActionLink("Recordar mi contraseña", "Grilla", "FFH") <br>
                                        @Html.ActionLink("Ingresar sin registrarme", "Grilla", "FFH")

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </form>


    </div>


    <div id="myModal" class="modal fade text-light " role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Mascota Perdida - Completa los datos</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- linea de recorrido  -->
                <div class="modal-body">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a href="#step-1" type="button" class="btn btn-primary btn-circle btn-light">1</a>
                                <p>Detalles de la mascota</p>

                            </div>

                            <div class="stepwizard-step">
                                <a href="#step-2" type="button" class="btn btn-default btn-circle  btn-light">2</a>
                                <p>Lugar</p>
                            </div>

                            <div class="stepwizard-step">
                                <a href="#step-3" type="button" class="btn btn-default btn-circle  btn-light">3</a>
                                <p>Datos de contacto</p>
                            </div>

                        </div>
                    </div>

                    <!-- Body Detalles de la mascota -->
                    <div class="row setup-content" id="step-1">
                        <div class="col-xs-12">
                            <div class="col-md-12">
                                <h3> Detalles de la mascota</h3>
                                <br />
                                <!--¨Perdido o encontrado -->
                                <div>
                                    <label class="radio-inline"><input type="radio" name="optradio" required>Lo Perdí</label>
                                    <label class="radio-inline"><input type="radio" name="optradio">Lo Encontré</label>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="usr">Responde al Nombre</label>
                                    <input type="text" class="form-control col-md-8" id="usr">
                                </div>
                                <br />
                                <!--¨Sexo -->
                                <div>
                                    <label class="radio-inline"><input type="radio" name="optradio">Hembra</label>
                                    <label class="radio-inline"><input type="radio" name="optradio">Macho</label>
                                </div>
                                <br />
                                <div class="dropdown">
                                    <!-- Salud -->
                                    <div>
                                        <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                            Salud
                                            <span class="caret "></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Buena</a></li>
                                            <li><a href="#">Enfermo</a></li>
                                            <li><a href="#">Deteriorada</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <br />
                                <!-- Tipo de mascota -->
                                <div>
                                    <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                        Tipo de mascota
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Perro</a></li>
                                        <li><a href="#">Gato</a></li>
                                        <li><a href="#">Tortuga</a></li>
                                    </ul>
                                </div>
                                <br />
                                <!-- Raza -->
                                <div>
                                    <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                        Raza
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Breton</a></li>
                                        <li><a href="#">Caniche</a></li>
                                        <li><a href="#">Collie</a></li>
                                    </ul>
                                </div>
                                <br />
                                <!-- Colores -->
                                <div>
                                    <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                        Colores
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Tricolor</a></li>
                                        <li><a href="#">Rubio</a></li>
                                        <li><a href="#">Colorado</a></li>
                                        <li><a href="#">Matizado</a></li>
                                        <li><a href="#">Blanco</a></li>
                                        <li><a href="#">Negro</a></li>
                                        <li><a href="#">Marrón</a></li>
                                        <li><a href="#">Caramelo</a></li>
                                        <li><a href="#">Manchado</a></li>
                                    </ul>
                                </div>
                                <br />
                                <!-- Tamaño -->
                                <div>
                                    <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                        Tamaño
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Chico</a></li>
                                        <li><a href="#">Mediano</a></li>
                                        <li><a href="#">Grande</a></li>
                                    </ul>
                                </div>
                                <br />
                                <!-- Edad -->
                                <div>
                                    <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                        Edad
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Bebe</a></li>
                                        <li><a href="#">Cachorro</a></li>
                                        <li><a href="#">Adulto</a></li>
                                        <li><a href="#">Adulto Mayor</a></li>
                                    </ul>
                                </div>
                                <br />
                                <!-- Descripción -->
                                <div class="form-group">
                                    <label class="col-md-8" for="comment">Descripción (en caso que no se ajuste a las opciones anteriores)</label>
                                    <textarea class="form-control col-md-8" rows="5" id="comment"></textarea>
                                </div>
                                <br />  <br />
                                <!-- Subir Archivo -->
                                <form action="/action_page.php">
                                    <input type="file" id="myFile" name="filename">
                                    <br />  <br />
                                    <input class="btn btn-light btn-block pull-right  col-md-6" type="submit">
                                </form>


                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                        <button class="btn btn-light btn-block nextBtn pull-right col-md-20" type="button">Siguiente</button>

                    </div>
                </div>

                <!-- Body Lugar -->
                <div class="row setup-content" id="step-2">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3> Lugar</h3>
                            <!-- Calle -->
                            <div class="form-group">
                                <label for="usr">Calle</label>
                                <input type="text" class="form-control" id="usr">
                            </div>
                            <br />
                            <!-- Entre -->
                            <div class="form-group">
                                <label for="usr">Entre</label>
                                <input type="text" class="form-control" id="usr">
                                <label for="usr">y</label>
                                <input type="text" class="form-control" id="usr">
                            </div>
                            <br />
                            <!-- Provincia -->
                            <div>
                                <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                    Provincia
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Buenos Aires</a></li>
                                    <li><a href="#">Santa Fe</a></li>
                                    <li><a href="#">Chaco</a></li>
                                    <li><a href="#">Jujuy Mayor</a></li>
                                </ul>
                            </div>
                            <br />
                            <!-- Localidad -->
                            <div>
                                <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                    Localidad
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                </ul>
                            </div>
                            <br />
                            <!-- Zona -->
                            <div>
                                <div class="form-group">
                                    <label for="comment">Zona</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                                <br />
                            </div>
                        </div>
                        <button class="btn btn-light btn-block nextBtn pull-right col-md-24" type="button">Siguiente</button>

                    </div>
                </div>
                <!-- Body Contacto -->
                <div class="row setup-content" id="step-3">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3> Datos de contacto</h3>
                            <!-- NOmbre -->
                            <div class="form-group">
                                <label for="usr">Nombre</label>
                                <input type="text" class="form-control" id="usr">
                                <label for="usr">Apellido</label>
                                <input type="text" class="form-control" id="usr">
                                <label for="usr">Celular</label>
                                <input type="text" class="form-control" id="usr">
                                <label for="usr">Mail</label>
                                <input type="text" class="form-control" id="usr">
                                <label for="usr">Usuario Red Social</label>
                                <input type="text" class="form-control" id="usr">
                                <br />
                                <!-- Red social -->
                                <div>
                                    <button class="btn btn-primary dropdown-toggle col-md-8" type="button" data-toggle="dropdown">
                                        Red Social
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">TickTok</a></li>
                                    </ul>
                                </div>
                                <br />
                            </div>
                            <br />
                        </div>
                        <button class="btn btn-light btn-block nextBtn pull-right col-md-20" type="submit">LISTO!</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">


        </div>
    </div>

    <script type="text/javascript">
        var id = null;
        function movePanel() {
            var pnl = $get("ModalPanel");
            if (pnl != null) {
                pnl.style.left = "50px";
                pnl.style.top = "50px";
                id = setTimeout("movePanel();", 100);
            }
        }
        function stopMoving() {
            clearTimeout(id);
        }
    </script>


    <div>
        <asp:Button ID="btn1" runat="server" Text="Launch Modal Popup"
                    OnClientClick="movePanel();" />
    </div>


    <ajaxToolkit:ModalPopupExtender ID="mpe" runat="server"
                                    TargetControlId="btn1" PopupControlID="ModalPanel" OkControlID="OKButton"
                                    OnOkScript="stopMoving();" />






    <script type="text/javascript">
        $(document).ready(function () {
            var navListItems = $('div.setup-panel div a'), // tab nav items
                allWells = $('.setup-content'), // content div
                allNextBtn = $('.nextBtn'); // next button

            allWells.hide(); // hide all contents by defauld

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-primary').addClass('btn-default');
                    $item.addClass('btn-primary');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });
            // next button
            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='email'],input[type='password'],input[type='url']"),
                    isValid = true;
                // Validation
                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }
                // move to next step if valid
                if (isValid)
                    nextStepWizard.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel div a.btn-primary').trigger('click');
        });
    </script>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="footer text-muted">
        <div class="container">
            &copy; 2020 - ProyectoFFH - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
