@model FAR_FROM_HOME.EF.USUARIODT

@{ ViewBag.Title = "Index"; }

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/index.css" rel="stylesheet" type="text/css">

    <title>Hello, world!</title>


</head>

<body>
    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <section class="contact-box">
                    <div class="row no-gutters bg-dark">
                        @*<div class="col-xl-5 col-lg-12 register-bg">
                                <div class="position-absolute testiomonial p-4">
                                    <h3 class="font-weight-bold text-light">...</h3>
                                    <p class="lead text-light">...</p>
                                </div>
                            </div>*@
                        <div class="col-xl-8 col-lg-12">
                            <div class="container align-self-center p-6">
                                <h1 class="font-weight-bold mb-3">Regístrate en Far From Home</h1>

                                <div class="form-group">
                                    <button class="btn btn-outline-dark d-inline-block text-light mr-2 mb-3 width-100"><i class="icon ion-logo-google lead align-middle mr-2"></i> Google </button>
                                    <button class="btn btn-outline-dark d-inline-block text-light mb-3 width-100"><i class="icon ion-logo-facebook lead align-middle mr-2"></i> Facebook</button>
                                </div>
                              

                                <form>
                                    <div class="form-row mb-2">
                                        <div class="form-group col-md-6">
                                            
                                            @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "font-weight-bold" })
                                           
                                            @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group col-md-6">
                                            
                                            @Html.LabelFor(model => model.APELLIDO, htmlAttributes: new { @class = "font-weight-bold" })
                                           
                                            @Html.EditorFor(model => model.APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.APELLIDO, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                       
                                        @Html.LabelFor(model => model.MAIL, htmlAttributes: new { @class = "font-weight-bold" })
                                       
                                        @Html.EditorFor(model => model.MAIL, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MAIL, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group mb-3">
                                       
                                        @Html.LabelFor(model => model.CONTRASENIA, htmlAttributes: new { @class = "font-weight-bold" })
                                     
                                        @Html.EditorFor(model => model.CONTRASENIA, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CONTRASENIA, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-5">
                                        @*<div class="form-check">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label text-muted">Al seleccionar esta casilla aceptas nuestro aviso de privacidad y los términos y condiciones</label>
                                            </div>*@
                                    </div>
                                   
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Registrate" class="btn btn-primary" />
                                    </div>

                                </form>
                                
                            </div>




                            <!-- Optional JavaScript -->
                            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

                        </div>
                    </div>
                </section>}
</body>

</html>