@model IEnumerable<FAR_FROM_HOME.EF.USUARIODT>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRASENIA)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APELLIDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONTRASENIA)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_USUARIO }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_USUARIO }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_USUARIO })
                </td>
            </tr>
        }

    </table>
</body>
</html>
