@model FAR_FROM_HOME.EF.PUBLICACIONDT

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>PUBLICACIONDT</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UBICACION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UBICACION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RAZA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RAZA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ESTADO_SALUD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ESTADO_SALUD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TIPO_MASCOTA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIPO_MASCOTA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COLOR_MASCOTA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COLOR_MASCOTA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TAMAÑO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TAMAÑO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EDAD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EDAD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REDES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REDES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SEXO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SEXO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TRANSITO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TRANSITO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EST_ENCPERD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EST_ENCPERD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.F_PUBLICACION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.F_PUBLICACION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IMAGEN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IMAGEN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.USUARIODT.MAIL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.USUARIODT.MAIL)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
